.message {
  display: flex;
}

.message-content {
  display: inline-flex;
  flex-direction: column;
  background: #fff;
  min-width: 70px;
  margin: 4px 0;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.msg {
  display: flex;
  margin-bottom: 4px;
  font-size: 1.15em;
}
